* {
    padding: 0;
    margin: 0;
    font-family: 'Forum', serif;
}

.main {
    min-height: 90vh;
    background-color: #f08e80;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 24px 32px;
}

.links a {
    text-decoration: none;
    color: white;
    margin-right: 16px;
    font-size: 16px;
}

.navbar .profile img {
    margin-top: 10px;
    border-radius: 100%;
    width: 200px;
}

.navbar h2 {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
}

.navbar .contact {
    background-color: white;
    text-decoration: none;
    color: #f08e80;
    padding: 16px 24px;

}

.content h1 {
    padding: 8% 15%;
    color: white;
    font-size: 25px;
}

.skills {
    background-color: white;
    padding: 64px 0;
}

.skills-content {
    padding: 3% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-content .title {
    margin: 0 20%;
    font-size: 40px;

}

.skills-content .text {
    margin: 0 16px;
    font-size: 30px;
}

.skills-content .text li {
    margin: 20px;
}
.skills-content .text li span {
    font-weight: bold;
}

.experience {
    background-color: #fdf0e6;
    width: 100%;
}

footer {
    background-color: black;
    color: white;
    padding: 60px;
}

.footer-content {
    text-align: center;
}

.footer-content img {
    width: 2rem;
    height: 2rem;
    margin: 16px;

}